<main class="container mt-5">
  <div class="row">
    <div class="col col-md-6 col-lg-6 col-xl-6 rounding-edge">
      <div class="card mb-3 rounding-edge">
          <div>Username: {{username}}</div>
          <div class="text-monospace">Email: {{email}}</div>
          <div>Registration time: {{formatDatetime registration_time}} </div>
          <div>Please verify your account.</div>
          Verify Email Sent!
        <p>
          Confirmation email sent. Please check your inbox.
        </p>
      </div>
    </div>
  </div>
</main>