<div class="d-flex flex-row mb-3 justify-content-around flex-wrap">
  <button id="add-crazy-place" class="btn btn-info">Add Ajax Place!</a></button>
  <button id="edit-crazy-place" class="btn btn-info">edit Ajax Place!</a></button>
  <div><a href="/place/add" id="" class="btn btn-primary">Add Place</a></div>
  <div><a href="/review/add" id="" class="btn btn-primary">Add Review</a></div>
  <div><a href="/user/add" id="" class="btn btn-primary">Add User</a></div>
</div>