<main class="container mt-5">
  <div class="d-flex flex-column justify-content-between align-items-center mb-3">
    {{> button-menu}}
    <h1>All the users in the database!</h1>
  </div>
  <form id="search-user-form" method="GET">
    <fieldset>
      <legend>Search</legend>
      <div class="form-group">
        <label for="search" class="sr-only">
          Search
        </label>
        <div class="input-group mb-3">
          <input id="search" name="search" type="search" class="form-control" placeholder="search..."
            value="{{search}}" />
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-search"></i> Search
            </button>
            <input class="btn btn-secondary" type="reset" value="Reset">

          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="pageSize" class="sr-only">
          Page Size
        </label>
        <select id="pageSize" name="pageSize" class="custom-select w-auto">
          {{> select-option-list pager.pageSizeOptions}}
        </select>
      </div>
    </fieldset>
  </form>
  <div id="searchResults">
    {{> user-list this}}
  </div>
</main>