<main class="container mt-5">

  <div class="row">
    <div class="col-md-6">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Administrate Places</li>
        </ol>
      </nav>
    </div>
    <div class="col-md-6 d-flex flex-row justify-content-end align-items-center">
      <button id="add-crazy-place" class="btn btn-info"><i class="fas fa-globe"></i> Add Place</a></button>
    </div>
  </div>

  {{!-- <div id="message">This is my modal</div> --}}
  <div class="modal fade" tabindex="-1" role="dialog" id="message">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Place</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="add-place-form-modal" enctype="multipart/form-data" action="/api/place" method="POST"
            class="form needs-validation mt-3" novalidate>
            <div class="form-group">
              <label for="name">Name</label>
              <input required type="text" class="form-control" name="name" id="name">
              <div id="title-error" class="text-danger"></div>
            </div>
            <div class="form-group">
              <label for="category">Category</label>
              <select required name="category" id="category">
                <option selected value="">Choose Category</option>
                <option value="activity">activity</option>
                <option value="hotel">hotel</option>
                <option value="restaurant">restaurant</option>
              </select>
              <div id="category-error" class="text-danger"></div>
            </div>
            <div class="form-group">
              <label for="city">City</label>
              <input required type="text" class="form-control" name="city" id="city">
              <div id="city-error" class="text-danger"></div>
            </div>
            <div class="form-group">
              <label for="state">State</label>
              <input type="text" class="form-control" name="state" id="state">
              <div id="state-error" class="text-danger"></div>
            </div>
            <div class="form-group">
              <label for="country">Country</label>
              <input required type="text" class="form-control" name="country" id="country">
              <div id="country-error" class="text-danger"></div>
            </div>
            <div class="form-group">
              <label for="uploaded_file">Image</label>
              <input type="file" class="form-control-file" name="uploaded_file" id="uploaded_file">
            </div>
            <div class="form-group d-none" id="image_preview">
              <label for="image_preview">Image Preview</label>
              <img width="200px" height="auto" id="pet_image" alt="your image" />
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea required type="text" class="form-control" name="description" id="description" rows="3"
                cols="50"></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit"><i class="fas fa-globe"></i> Add Place</button>
              <a href="/place/admin" class="btn btn-secondary"><i class="fas fa-ban"></i> Cancel</a>
              <input class="btn btn-secondary" type="reset" value="Reset">
            </div>
            <div class="form-group">
              <output id="mainError" style="white-space: pre-wrap" class="text-danger">{{catchError}}</output>
            </div>
          </form>
        </div>
        {{!-- <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div> --}}
      </div>
    </div>
  </div>


  <form id="search-place-form" method="GET">
    <fieldset>
      <legend>Search</legend>
      <div class="form-group">
        <label for="search" class="">
          Search
        </label>
        <div class="input-group mb-3">
          <input id="placeSearch" name="q" type="search" class="form-control" placeholder="search..."
            value="{{search}}" />
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> Search </button>
            <input class="btn btn-secondary" type="reset" value="Reset">
          </div>
        </div>
      </div>
      <div class="d-flex  flex-column flex-sm-row">
        <div class="form-group d-flex flex-column">
          <label for="category" class=""> category </label>
          <select id="category-drop" name="category" class="custom-select w-auto">
            {{> select-option-list categoryOptionList}}
          </select>
        </div>
        <div class="form-group d-flex flex-column">
          <label for="sortBy" class=""> sort by: </label>
          <select id="sortBy" name="sortBy" class="custom-select w-auto">
            {{> select-option-list sortingOptionList}}
          </select>
        </div>
      </div>
    </fieldset>
  </form>



  <div class="d-flex align-items-center">
    <span id="stream-data-spinner" class="spinner-border m-2"></span>
    <span id="stream-data-seen" class="m-2" style="font-weight: 900;">
      Loading...
    </span>
  </div>
  <div id="stream-data" class="d-flex flex-wrap"></div>
  <div id="search-results"> </div>

</main>

<script src="/js/oboe-browser.min.js"></script>
<script defer src="/js/oboe-place-admin.js"></script>