<div>Welcome, {{auth.username}}!</div>
<div>TripAdvocate is a site that features restaurants, hotels, and activities with user-submitted reviews so that users
  of the website can learn more about a destination before they go. It's also the final project Paul Winka, a Ranken
  Technical College Student in AWD 1111. The project focuses involves all of the following languages, packages, and
  technologies:
  javascript, node.js, mongo db, express, handlebars, joi, b
</div>


<div class="d-flex flex-row justify-content-center"><video width="320" height="240" controls>
    <source src="uploads/intro.mp4">" type="video/mp4">
  </video></div>